* {
    font-weight: 400;
}

@padding-sm: 0.5rem;
@padding-md: 1rem;
@padding-lg: 1.5rem;

:root {
    --headerHeight: 50px
}


.App {
    color: var(--mainFontColor);
    background-color: var(--mainBackgroundColor);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p, span {
    margin: 0rem;
    padding: 0rem;
}

.tuk, .bani {
    color: var(--mainFontColor);
    padding: @padding-sm 0vw;
}
.bani {
    width: 100vw;
    border-bottom: 0.1px solid var(--mainFontColor);
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.presenter {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    scroll-snap-align: center;
    >* {
        margin: 1rem
    };
}

.index {
    height: 80%;
}

.Banis {
    background-color: var(--mainBackgroundColor);
    height: calc(100vh - var(--headerHeight) - 10px);
    overflow: scroll;
}

.Bani {
    height: calc(100vh - var(--headerHeight) - 2vh);
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
}

.tuk {
    width: 84vw;
    padding: 1vw 5vw;
    margin: 0 2vw;
}

.customisations {
    width: 90vw;
    height: var(--headerHeight);
    padding: 1vh 5vw;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0rem;
    z-index: 1;
    background-color: var(--headerBackgroundColor);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.224);
    transition: 0.5s all;
}
.customisations::-webkit-scrollbar {
    display: none;
}
.customisation *{
    color: white !important;
    display: flex;
    align-items: center;
}
.customisation {
    margin: 15px;
    display: flex;
    align-items: center;
}

.switch > * {
    padding: 1rem;
    margin: 0.5rem;
    color: red;
}

.bani, .tuk {
    font-size: x-large;
}

.title {
    color: var(--titleFontColor);
    font-weight: 800;
    text-shadow: 1px 0.5px rgb(0, 0, 0);
}
.larivaar {
    line-break: anywhere;
}

.englishMeanings {
    color: var(--englishMeaningsFontColor)
}
.gurmukhiMeanings {
    color: var(--gurmukhiMeaningsFontColor)
}