* {
    font-weight: 400;
}

.shabad-main {
    padding-top: var(--customisationsHeight);
    height: 100vh;
    margin: 1rem;
}

.inputGroup {
    display: flex;
    .MuiInput-root {
        width: 70%;
    }
    >* {
        margin: @padding-sm;
    }
    width: clamp(302px, 90vw, 800.8px);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@padding-sm: 0.5rem;
@padding-md: 1rem;
@padding-lg: 1.5rem;

:root {
    --headerHeight: 50px;
    --customisationsHeight: 70px
}

.App {
    color: var(--mainFontColor);
    background-color: var(--mainBackgroundColor);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p, span {
    margin: 0rem;
    padding: 0rem;
}

.homeScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
    >* {
        width: fit-content;
        background: var(--mainFontColor);
        color: var(--mainBackgroundColor) !important;
        border-radius: 1rem;
        text-decoration: underline;
        cursor: pointer;
    }
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        >* {
            margin: 1rem !important;
            max-width: 250px;
        }
    }
}

.tuk, .bani {
    color: var(--mainFontColor);
    padding: @padding-sm 0vw;
}
.bani {
    width: 100vw;
    border-bottom: 0.1px solid var(--mainFontColor);
    cursor: pointer;
}
.foundShabad {
    border: 3px dashed var(--headerBackgroundColor)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shabadNavigation {
    display: flex;
    justify-content: space-between;
    >* {
        background-color: var(--mainFontColor);
        color: var(--mainBackgroundColor);
        padding: @padding-sm;
        border-radius: @padding-sm;
        text-decoration: underline;
        cursor: pointer;
    }
    padding: @padding-md;
}

.presenter {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mainBackgroundColor);
    scroll-snap-align: center;
    >* {
        margin: 1rem
    };
}

.index {
    height: 80%;
}

.Banis {
    background-color: var(--mainBackgroundColor);
    height: calc(100vh - var(--customisationsHeight););
    padding-top: var(--customisationsHeight);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bani {
    height: calc(100vh - var(--customisationsHeight));
    overflow-x: scroll;
    scroll-snap-type: y mandatory;
    padding-top: var(--customisationsHeight);
}

.tuk {
    width: 84vw;
    padding: 1vw 5vw;
    margin: 0 2vw;
}

.larivaarAssist {
    color: var(--larivaarAssistFontColor)
}

.customisations, .expandCustomisations {
    width: 100vw;
    height: var(--customisationsHeight);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0rem;
    z-index: 1;
    background-color: var(--headerBackgroundColor);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.224);
    transition: 0.5s all;
    >* {
        color: var(--headerFontColor) !important
    }
}

.darbarSahibImage {
    height: 85vh;
    width: 90vw;
    object-fit: cover;
    object-position: 35%;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 1px white, -1px -1px 1px 1px white;
}

.buttonGroup, .buttonGroupNoMarginTop {
    display: flex;
    align-items: center;
    >* {
        margin: 1rem !important;
        width: max-content;
    }
    width: 100%;
}
.buttonGroupNoMarginTop {
    flex-wrap: wrap;
    >* {
        margin-top: 0rem !important;
        margin-left: 0rem !important
    }
}

.expandCustomisations {
    position: absolute;
    width: 250px;
    height: 90vh;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
    padding: 5vh 1vw;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
    
}
.customisations::-webkit-scrollbar {
    display: none;
}
.customisation *{
    color: var(--headerFontColor) !important;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.customisation {
    margin: 15px;
    display: flex;
    align-items: center;
}

.switch > * {
    padding: 1rem;
    margin: 0.5rem;
    color: red;
}

.bani, .tuk {
    font-size: x-large;
}

.title {
    color: var(--titleFontColor);
    font-weight: 800;
    text-shadow: 1px 0.5px rgb(0, 0, 0);
}
.larivaar {
    line-break: anywhere;
}

.englishMeanings {
    color: var(--englishMeaningsFontColor)
}
.gurmukhiMeanings {
    color: var(--gurmukhiMeaningsFontColor)
}