.App {
    color: var(--mainFontColor);
    background-color: var(--mainBackgroundColor);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    overflow-y: scroll;
    text-align: center;
}
.bani {
    width: 100vw;
    background: var(--mainBackgroundColor);
    color: var(--mainFontColor);
    padding: 3px 0vw;
}

.Bani {
    overflow-x: hidden;
}

.customisations {
    width: 98vw;
    height: 50px;
    padding: 0.5rem 1vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.74);
    overflow-x: scroll;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0rem;
    z-index: 1;
    background-color: var(--mainBackgroundColor);
    box-shadow: 2px 2px 2px black;
}
.customisations::-webkit-scrollbar {
    display: none;
}
.customisation *{
    color: var(--mainFontColor) !important;
}
.customisation {
    margin: 15px;
    display: flex;
}

.bani {
    font-size: x-large;
    border-bottom: 1px solid rgba(245, 245, 245, 0.125);
}

.title {
    color: var(--titleFontColor);
    font-weight: 800;
    text-shadow: 1px 0.5px rgb(0, 0, 0);
}
.larivaar {
    line-break: anywhere;
}