* {
    font-weight: var(--fontWeight);
}

.App {
    color: var(--mainFontColor);
    background-color: var(--mainBackgroundColor);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p, span {
    margin: 0rem;
    padding: 0rem;
}

.tuk, .bani {
    color: var(--mainFontColor);
    padding: 3px 0vw;
}
.bani {
    width: 100vw;
    border-bottom: 0.1px solid var(--mainFontColor);
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Banis {
    background-color: var(--mainBackgroundColor);
}

.Bani {
    overflow-x: hidden;
}

.tuk {
    width: 90vw;
    padding: 1vw 5vw;
}

.customisations {
    width: 90vw;
    height: 50px;
    padding: 1vh 5vw;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0rem;
    z-index: 1;
    background-color: var(--headerBackgroundColor);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.224);
    transition: 0.5s all;
}
.customisations::-webkit-scrollbar {
    display: none;
}
.customisation *{
    color: white !important;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.customisation {
    margin: 15px;
    display: flex;
    align-items: center;
}

.switch > * {
    padding: 1rem;
    margin: 0.5rem;
    color: red;
}

.bani, .tuk {
    font-size: x-large;
}

.title {
    color: var(--titleFontColor);
    font-weight: 800;
    text-shadow: 1px 0.5px rgb(0, 0, 0);
}
.larivaar {
    line-break: anywhere;
}

.meaningsGroup > * {
    font-weight: 400;
}

.englishMeanings {
    color: var(--englishMeaningsFontColor)
}
.gurmukhiMeanings {
    color: var(--gurmukhiMeaningsFontColor)
}