.App {
    color: rgba(255, 194, 88, 0.888);
    background-color: rgba(0, 0, 0, 0.908);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    overflow: scroll;
    text-align: center;
}

.bani {
    font-size: x-large;
    border-bottom: 1px solid rgba(245, 245, 245, 0.125);
    padding: 10px;
}

.title {
    color: rgb(0, 185, 247);
    font-weight: 800;
    text-shadow: 1px 2px rgb(0, 73, 97);
    padding: 5px;
}
.larivaar {
    line-break: anywhere;
}